/* Body requirements */
body {
  font-family: "Space Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: #990b46;
  background-image: var(--bs-gradient);
  color: #fffdff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: inherit;
}

/* Navbar requirements */
nav {
  font-size: 18px;
  background-color: none;
  font-family: "Ubuntu Mono", monospace;
}

.navbar-toggler {
  border: none;
}

/* Change hyperlink color/style */
a {
  color: #88d9e6;
  font-weight: 600;
}

/* Change hyperlink, navbar-link, and dropdown-item hover color */
a:hover, .navbar-brand:hover, .nav-link:hover, .dropdown-item:hover {
  color: #ffc107;
}

/* Position the dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  border-color: #1a1d20;
  text-align: right;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
  display: none;
}

/* Break apart nav-items */
.nav-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Color of dropdown option and nav-links on click and when active */
.dropdown-item:active {
  background-color: #247ba0!important;
}

.typing::after {
  content: " ";
  position: relative;
}

.typing::before {
  content: "_";
  animation: blink 1s step-end infinite;
}

/* cursor blink */
@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

.text-oscillation::before {
  content: "summer again";
  animation-name: oscillation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes oscillation {
  0% { content: " " }
  1% { content: "" }
  2% { content: "s" }
  3% { content: "su" }
  4% { content: "sum" }
  5% { content: "summ" }
  6% { content: "summe" }
  7% { content: "summer" }
  8% { content: "summer a" }
  9% { content: "summer ag" }
  10% { content: "summer aga" }
  11% { content: "summer agai" }
  12% { content: "summer again" }
  90% { content: "summer again" }
  91% { content: "ummer again" }
  92% { content: "mmer again" }
  93% { content: "mer again" }
  94% { content: "er again" }
  95% { content: "r again" }
  96% { content: "again" }
  97% { content: "gain" }
  98% { content: "ain" }
  99% { content: "in" }
  100% { content: "n" }
}

/* For body and footer positioning */
.body-container {
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: auto;
  color: #fffdff;
}

/* Footer stuff */
.footercol {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: -5px;
  border-color: #ffffff;
  border-width: 0;
  border-left-width: medium;
  border-right-width: medium;
  border-radius: 0;
  background-color: inherit;
}
